<div class="home3">
    <div class="home-title">
      <h1>{{title}}</h1>
    </div>
    <div class="info">
      <p>Antal: {{object.people}} personer</p>
      <p>Adress: {{object.address.street}}, {{object.address.city}}, {{object.address.zipcode}}</p>
      <div class="room1">
        <h4>{{object.rooms.room1.name}}</h4>
        <p>Procudt: {{object.rooms.room1.product}}</p>
        <p>Temperatur: {{object.rooms.room1.temperature}}</p>
        <p>Humidity: {{object.rooms.room1.humidity}}</p>
        <p>Storlek: {{object.rooms.room1.size}}</p>
      </div>
      <div class="room2">
        <h4>{{object.rooms.room2.name}}</h4>
        <p>Procudt: {{object.rooms.room2.product}}</p>
        <p>Temperatur: {{object.rooms.room2.temperature}}</p>
        <p>Humidity: {{object.rooms.room2.humidity}}</p>
        <p>Storlek: {{object.rooms.room2.size}}</p>
      </div>
      <div class="room3">
        <h4>{{object.rooms.room3.name}}</h4>
        <p>Procudt: {{object.rooms.room3.product}}</p>
        <p>Temperatur: {{object.rooms.room3.temperature}}</p>
        <p>Humidity: {{object.rooms.room3.humidity}}</p>
        <p>Storlek: {{object.rooms.room3.size}}</p>
      </div>
    </div>
  </div>
