.navbar {
    background-color: #446CB3;
    padding: 1em;
    color: #f3f1ef;
    justify-content: center;
    h3, ul {
        padding: 0 3em;
    }

    .nav-item {
        padding: 0 1em;
        font-size: 1.2em;
    }

}

.navbar-toggler {
    border-color: #f3f1ef;
}

@media only screen and (min-width: 900px){
    

}