.homes-list {
    background-color: #f3f1ef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
            //border-bottom: 2px solid #f3f1ef;
            a {
                text-decoration: none;
                color: #446CB3;
                
            }

            a:hover {
                color: #bfbfbf;
            }
}

@media only screen and (min-width: 900px){
    .homes-list {

        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 20vw;
        height: 100vh;
    }

}